/* CONFIRGURAÇÃO DO BODY*/
body, html{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    font-family: elastic;
}

/* IMAGEM */
.capa{
    width: 300px;
    height: 300px;
    border: 2px;
    border-style: solid;
    border-color: #1bdb0b;
    box-shadow: 5px 5px 8px 0px #1bdb0b ;
}

/* DESCRIÇÃO */
.descricao{
    width: 300px;
}
h2{
    margin-bottom: 5px;
    color: #1bdb0b;
}
i{
 color: #1bdb0b;   
}
/* BARRA DE DURAÇÃO */
.duracao{
    width: 300px;
    margin-top: 20px;
}
.barra{
    width: 300px;
    height: 6px;
    border: 1px solid #1bdb0b;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
progress {
    display:block;
    -webkit-appearance: none;
}
progress::-webkit-progress-bar {
    background: #1bdb0b;
    height: 6.5px;
    border-radius: 6px;
    margin-top: 5px;
}
progress::-moz-progress-bar {  
    background: #1bdb0b;
    height: 6.5px;
    border-radius: 6px;
    margin-top: 5px;
}
.ponto{
    width: 20px;
    height: 20px;
    background-color: #1bdb0b;
    border-radius: 50%;
    margin-left: -10px;
}
.tempo{
    display: flex;
    width: 300px;
    justify-content: space-between;
    color: #1bdb0b;
}
#timer{
    width: 100%;
    margin: 0px;
}
/* VOLUME */
input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    width: 13em;
    height: 0.5em;
    border-radius: 5px;
    background-color: hsl(115, 97%, 44%);
    outline: none;
}
#vol-control::-webkit-slider-thumb{
    -webkit-appearance: none; /* remove a aparencia padão */
    
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #1bdb0b;
  }

/* PLAYER BOTÕES */

.volume{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}
.botao-volume{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.player{
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}
.botao-play, .botao-pause{
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.setas{
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.botao-pause{
    display: none;
}

/* EFEITOS DE FUNDO*/
@keyframes changeColor{
    0% {background-color: #5612d6;width: 10px;}
    25% {background-color: #1bdb0b;}
    60% {background-color: #5612d6;width: 290px;}
    100% {background-color: #1bdb0b;width: 10px;}
}

.box{
    position: relative;
    width: 150px;
    height: 6px;
    border-radius: 15px;
    border-style: solid;
    animation: changeColor 15s linear 0s infinite normal backwards;
}
.div1{
    animation-timing-function: ease;
}
/* EFEITOS DE FUNDO*/

/* Fonte*/
@font-face {
    font-family: elastic ;
    src: url(./fontes/Elastic.otf);
}











